* {
    margin: 0;
    padding: 0;
}
.sec_main_cus {
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url(bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.nav_cus {
    width: 30% !important;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;    
}
.modal-box {
    max-width: 63rem;
}
.inpt_cus, .btn_cus {
    width: 50%;
}

        @keyframes blink {
    
            0%,
            100% {
                opacity: 1;
            }
    
            50% {
                opacity: 0;
            }
        }
    
        .blink {
            animation: blink 1.5s infinite;
        }
.output_parrent {
    width: 50%;
    
}

@media only screen and (max-width: 1180px){
    .nav_cus {
        width: 415px !important;
    }
}
@media only screen and (max-width: 590px){
    .sec_main_cus {
        height: fit-content !important;
    }
}